body {
  background-color: #fadadd;
}

.btn {
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  color: #000;
  min-width: 200px;
}

.icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.icon-sm {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.settingsPanel {
  z-index: 999;
}

.settingsThumbnail {
  padding-bottom: 100%;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.settingsThumbnailTrash {
  display: none;
}

.settingsThumbnail:hover .settingsThumbnailTrash {
  display: block;
  outline: 1px solid black;
}

.flipMode {
  transform: rotate(180deg);
}

input {
  outline: none !important;
  border: none !important;
}

.cursor-pointer {
  cursor: pointer;
}
